html {
  background-color: #FFF9E0;
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  size: 20rem;
  color: #F1C550;
}

p {
  color: #EA4C4C; 
}
a:hover {
  text-decoration: none;
}

a:visited {
  color: darkblue;
}

button#denButton {
  color: #50622D;
  background-color: #A1C45A;
  border-radius: 1px;
}